<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='pygencal.css') }}">
    <title>Generate Calendar</title>
</head>
<body>
    <form action="/generate_calendar" method="post">
        <label for="year">Year:</label>
        <input type="number" id="year" name="year" required><br><br>
        <label for="month">Month:</label>
        <input type="number" id="month" name="month" min="1" max="12" required><br><br>
        <label for="font_name">Font Name:</label>
        <input type="text" id="font_name" name="font_name" required><br><br>
        <input type="submit" value="Generate Calendar">
    </form>
</body>
</html>
